*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav{
    background-color: black;
    /* height: 70px; */
    align-items: center;
    justify-content:space-between;
    padding: 50px;
    /* white-space: nowrap; */
    display:flex;
}
.tag{
    /* background-color: black; */
    /* height: 100px; */
    color: #fafafa;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
}

.nav a{
    color: #fafafa;
    /* text-align: center; */
    justify-content: space-between;
    padding: 100px;
    font-size: 17px;
    text-decoration: none;
    display: flex;
}

.nav .login{
    flex: 1 ;
    display: flex;
    float: right;
    right: 0;
}
#start{
    background-color:#ed661f;
    color: #fafafa;
    padding: 10px ;
    /* border-radius: 5x; */
    border: none;
}
.nav a:hover{
background-color: blue;
color: black;

}
.nav a.active{
    background-color: #ed661f;
    color: white;
}

@media screen {.nav{
    height: fit-content;

}   
}

/* .img{
    width: 50%;
    height: 50%;
} */

.imagecontainer{
    position: relative;
  height: 80%;
  width: 80%;
    
}

.bottom-left{
    width: 50%;
    /* height: fit-content; */
    position: absolute;
    bottom: 600px;
    left:0px;
    /* float: inline-end; */
    padding: 20px ;
    flex: 2;
    /* display:block;
    align-items: left;
    justify-content: left;
    float: inline-end; */
}
.bottom-left h1{
    padding: 20px;
}

.bottom-left p{
    padding: 40px;
    font-size: 17px;
}
.more{
    padding: 20px;
    bottom: 5px;
    left: 50px;
    border: none;
    flex: 1;
    /* flex: 1 ;
    justify-content: center;
    float: inline-end; */
}

#more{
    background-color:#ed661f;
    color: #fafafa;
    padding: 20px;
    border-radius: 5x;
    bottom: 10px;
    left: 50px;
    border: none;
    flex: 1;
}
.top-right{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10px;
    left: 800px;
    /* transform: translate(-50%, -50%); */
    /* float: right; */
    /* background-position: top;
    float: right; */
}
.imagecontainer .customers{
    height: 72px;
    width: 50%;
    background-color: #fafafa;
    box-shadow: 0 1px 3px gray;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* right: -52px; */
    top: -100px;
}
.imagecontainer .customers .data{
    /* height: 40px; */
    margin: 5px;
    text-align: center;
}
.imagecontainer .customers .data p{
    font-weight: 900;
    font-size: 20px;
}

.existence{
    display: flex;

}
.existence .text{
    flex: 1;
    bottom: 30px;
}
.existence h2{
    padding: 20px;
    font-size: 38px;
}
.existence p{
    padding: 20px;
    font-size: 20px;
}
img{
    flex: 2;
    width: 80%;
    float: right;
}
.products{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular{
    flex: 1;
    width: 100%;
}
.popular .varieties{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}
.popular .varieties .carrots{
margin: 15px;
padding: 5px;
display: grid;
}
.seeall{
    display: block;
    justify-content: flex-end;
    flex: right;
    right: 0;
    
}
.feedback{
    flex: 1;
    /* display: flex; */
}
.feedback .customers{
display: flex;
justify-content: space-between;
}
.checked{
    color: #ed661f;
}

.learnmore{
    justify-content: flex-end;
    flex: right;
    right: 0;
}
.underline{
    font-weight: bolder;
    font-weight: 600;
}

.contacts{
    background-color: black;
    /* height: 100px; */
    align-items: center;
    justify-content: center;
    padding-bottom: 120px ;
    display: flex;
}

.bar h3{
   flex: 1;
   color: #fafafa;
   padding: 20px;
}

.bar p{
    flex:1;
    color: #fafafa;
    padding: 20px;
}

.contacts .btn {
    flex: 1;
    justify-content: center;
    background-color: #ed661f;
}

.contacts .btn a{
    /* background-color: #ed661f; */
 color: black;
 text-align: center;
 justify-content:center ;
 padding: 20px;
 font-size: 17px;
 text-decoration: none;
 display: flex;
}

#email{
    background-color: #ed661f;
    color: black;
    border: none;
}
#subscribe{
    background-color: #ed661f;
    border: none;
}

.footer {
    background-color: black;
    /* height: 50px; */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    text-decoration: none;
    bottom: 100px;
}

.footer .details{
    background-color: black;
    /* height:120px; */
    /* align-items: left; */
    justify-content: space-between;
    /* flex: left; */
    /* left: 0; */
    padding: 30px;
    display: flex;
}

.footer .company .co{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.foter ul li a{
    color: #fafafa;
    text-decoration: none;
}
.footer ul li{
    color: #fafafa;
    margin-bottom: 20px;
    text-decoration: none;
}
.footer .company{
    display: flex;
    justify-content: space-between;
}